body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
}

#header {
  width: 100%;
  background-color: #fff9de;
  display: flex;
  flex-direction: row-reverse;
}

#header div {
  color: black;
  background-color: #cfcfcf;
  border-radius: 999px;
  padding: 10px;
  margin: 10px 30px 10px 0px;
}

#leftmenu {
  background-color: #0f1b07;
  position: fixed;
  left: 0;
  top: 0;
  color: #ffff;
  padding: 10px;
  height: 100vh;
  z-index: 99;
}

#card_home,
#card_product,
#card_order,
#card_customer,
#card_revenue {
  img {
    height: 35px;
    width: 35px;
    margin: 10px;
  }
}

#trangchu,
#sanpham,
#donhang,
#khachhang,
#doanhthu {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.content_menu {
  padding: 0px 50px 0 25px;
  font-size: 20px;
  display: none;
}

#leftmenu button {
  background-color: #0f1b07;
  color: #ffff;
  margin-left: 10px;
  border: none;
}

#leftmenu button:hover {
  cursor: pointer;
  color: gold;
}

#leftmenu:hover .content_menu {
  display: block;
}

#Content1,
#Content2 {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0; */
}

#Mid_content1 {
  /* position: absolute;
  left: 10%; */
  width: 80%;
  text-align: center;
}
#Mid_content2 {
  /* position: absolute;
  left: 15%; */
  width: 60%;
  text-align: center;
}

#table1 {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  /* margin: 0 5% 0 10%; */
  /* margin-left: 150px; */
  td {
    /* padding: 15px 0px 15px 10px; */
    /* padding: 5px; */
    border: solid 1px;
    width: 300px;
    /* text-align: center; */
    /* width: 150px; */
  }
  th {
    background-color: #0f1b0779;
    border: solid 1px;
  }
  img {
    width: 50px;
    height: 50px;
    /* object-fit: contain; */
    margin: 0;
    /* transform: translate(-20%); */
  }
  /* margin-bottom: 20px; */
}

#table2 {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  td {
    padding: 10px;
    border: solid 1px;
  }
  th {
    background-color: #0f1b0779;
    border: solid 1px;
  }
}

#table_chiTietDH {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  /* margin-left: 150px; */
  margin: 20px 20px 20px 20px;
  td {
    /* padding: 15px 0px 15px 10px; */
    padding: 10px;
    border: solid 1px;
    /* */
    /* width: 150px; */
  }
  th {
    background-color: #0f1b0779;
    border: solid 1px;
  }
}

#h1_sp,
#h1_dh {
  /* width: 80%; */
  /* margin-bottom: 50px; */
  font-size: 48px;
}

#pagination1,
#pagination2 {
  /* display: flex;
  flex-direction: row; */

  /* width: 70%; */
  /* margin: 0; */
  padding: 0;
  li {
    border: solid 1px black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }
  li:hover {
    color: #ffff;
    background-color: #0f1b07;
    cursor: pointer;
  }
}

#timkiemSP {
  /* height: 500px;
  width: 300px; */
  /* position: absolute;
  right: 100px;
  top: 90px; */
  width: 50%;
  padding: 10px 30px;
  margin: 20px;
  input,
  select {
    margin: 10px 0;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
  /* display: none; */
}

#timkiemDH {
  margin-top: 40px;
  /* position: absolute;
  right: 80px;
  top: 70px; */
  width: 35%;
  padding: 10px 30px;
  input,
  select {
    margin: 10px 0;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
}

#themSP {
  /* position: absolute;
  right: 100px;
  top: 550px; */
  padding: 10px 30px;
  margin: 20px;
  input,
  select {
    margin: 10px 0px;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
  /* background-color: rgb(179, 178, 178); */
}

#suaSP {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 50%; */
  /* height: 50%; */
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 244, 244);

  img {
    /* height: 100%; */
    width: 35%;
    border: solid 1px;
    margin: 10px;
  }
  #save {
    padding: 10px;
    font-size: 20px;
    background-color: #0f1b07;
    color: #ffff;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    /* border: none; */
  }
  #save:hover {
    background-color: #ffff;
    color: #0f1b07;
  }
  input {
    margin: 10px;
    border: solid 1px;
    width: 300px;
    font-size: 15px;
  }
}

#suaDH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 244, 244);
  /* */
  padding: 10px;

  #save_dh {
    padding: 10px;
    font-size: 20px;
    background-color: #0f1b07;
    color: #ffff;
    width: 200px;
    margin: 30px;
    cursor: pointer;
  }

  #save_dh:hover {
    background-color: #ffff;
    color: #0f1b07;
  }

  input,
  textarea {
    margin: 10px;
    border: solid 1px;
    width: 90%;
    font-size: 15px;
    margin-right: 10px;
  }

  label {
    margin: 10px;
  }
  z-index: 2;
}

#fake_background1,
#fake_background2,
#fake_background3 {
  /* height: 100%;
  width: 100%; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  /* padding: 5%; */
  z-index: 100;
}

#chitietDH {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 244, 244);
  /* height: 50%;
  margin-top: 20px;
  margin-bottom: 20px; */
  background-color: rgb(245, 244, 244);

  z-index: 200;
}
