body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
}

#header {
  width: 100%;
  background-color: #fff9de;
  display: flex;
  flex-direction: row-reverse;
}

#header div {
  color: black;
  background-color: #cfcfcf;
  border-radius: 999px;
  padding: 10px;
  margin: 10px 30px 10px 0px;
}

#leftmenu {
  background-color: #0f1b07;
  position: fixed;
  left: 0;
  top: 0;
  color: #ffff;
  padding: 10px;
  height: 100vh;
  z-index: 99;
}

#card_home,
#card_product,
#card_order,
#card_customer,
#card_revenue {
  img {
    height: 35px;
    width: 35px;
    margin: 10px;
  }
}

#trangchu,
#sanpham,
#donhang,
#khachhang,
#doanhthu {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.content_menu {
  padding: 0px 50px 0 25px;
  font-size: 20px;
  display: none;
}

#leftmenu button {
  background-color: #0f1b07;
  color: #ffff;
  margin-left: 10px;
  border: none;
}

#leftmenu button:hover {
  cursor: pointer;
  color: gold;
}

#leftmenu:hover .content_menu {
  display: block;
}

#Content1 {
  /* position: absolute;
  left: 150px;
  top: 70px; */

  /* width: 100vw; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  position: relative;
  z-index: 0;
}

#table1 {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  margin: 0 5% 0 10%;
  /* margin-left: 150px; */
  td {
    /* padding: 15px 0px 15px 10px; */
    padding: 10px;
    border: solid 1px;
    width: 300px;
    /* text-align: center; */
    /* width: 150px; */
  }
  th {
    background-color: #0f1b0779;
    border: solid 1px;
  }
  img {
    width: 50px;
    height: 50px;
    /* object-fit: contain; */
    margin: 0;
    /* transform: translate(-20%); */
  }
  /* margin-bottom: 20px; */
}

#table2 {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px black;
  margin: 0 5% 0 10%;
  /* margin-left: 150px; */
  td {
    /* padding: 15px 0px 15px 10px; */
    padding: 10px;
    border: solid 1px;
    /* text-align: center; */
    /* width: 150px; */
  }
  th {
    background-color: #0f1b0779;
    border: solid 1px;
  }
  img {
    width: 50px;
    height: 50px;
    /* object-fit: contain; */
    margin: 0;
    /* transform: translate(-20%); */
  }
  /* margin-bottom: 20px; */
}

#h1_sp,
#h1_dh {
  text-align: center;
  /* width: 80%; */
  /* margin-bottom: 50px; */
  font-size: 48px;
}

#pagination1,
#pagination2 {
  /* display: flex;
  flex-direction: row; */
  text-align: center;
  /* width: 70%; */
  li {
    border: solid 1px black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }
  li:hover {
    color: #ffff;
    background-color: #0f1b07;
    cursor: pointer;
  }
}

#timkiemSP {
  /* height: 500px;
  width: 300px; */
  position: absolute;
  right: 100px;
  top: 90px;
  padding: 10px 30px;
  input,
  select {
    margin: 10px 0;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
  /* margin-bottom: 100px; */
  /* display: none; */
}

#timkiemDH {
  position: absolute;
  right: 100px;
  top: 90px;
  padding: 10px 30px;
  input,
  select {
    margin: 10px 0;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
}

#themSP {
  position: absolute;
  right: 100px;
  top: 550px;
  padding: 10px 30px;
  input,
  select {
    margin: 10px 0px;
    padding: 5px;
  }
  font-size: 20px;
  z-index: 1;
  /* background-color: rgb(179, 178, 178); */
}

#suaSP {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 244, 244);
  text-align: center;
  img {
    height: 40%;
    width: 40%;
    border: solid 1px;
    margin: 10px;
  }
  #save {
    padding: 10px;
    font-size: 20px;
    background-color: #0f1b07;
    color: #ffff;
    width: 200px;
    margin: 30px;
  }
  input {
    margin: 10px;
    border: solid 1px;
    width: 300px;
    font-size: 15px;
  }
  z-index: 2;
}

#suaDH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 244, 244);
  /* text-align: center; */
  padding: 10px;
  #save_dh {
    padding: 10px;
    font-size: 20px;
    background-color: #0f1b07;
    color: #ffff;
    width: 200px;
    margin: 30px;
  }

  input {
    margin: 10px;
    border: solid 1px;
    width: 90%;
    font-size: 15px;
    margin-right: 10px;
  }

  label {
    margin: 10px;
  }
  z-index: 2;
}

#fake_background1,
#fake_background2 {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
@media only screen and (max-width: 1600px) {
  #timkiemSP {
    height: 430px;
    width: 300px;
    position: absolute;
    left: 15%;
    top: 105%;
    padding: 10px 30px;
    input,
    select {
      margin: 10px 0;
      padding: 5px;
    }
    font-size: 20px;
    z-index: 0;
    /* display: none; */
  }

  #timkiemDH {
    /* height: 500px;
    width: 300px; */
    width: 20%;
    /* margin-bottom: 100px; */
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%);
    padding: 10px 30px;
    input,
    select {
      margin: 10px 0;
      padding: 5px;
    }
    font-size: 20px;
    z-index: 0;
  }

  #themSP {
    height: 500px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 105%;
    padding: 10px 30px;
    input,
    select {
      margin: 10px 0px;
      padding: 5px;
    }
    font-size: 20px;
    z-index: 0;
    /* background-color: rgb(179, 178, 178); */
  }

  @media only screen and (max-width: 1100px) {
    #table1 {
      background-color: rgba(0, 0, 0, 0.05);
      border: solid 1px black;
      margin: 0 20% 0 20%;
      /* margin-left: 150px; */
      td {
        /* padding: 15px 0px 15px 10px; */
        padding: 10px;
        border: solid 1px;
        text-align: center;
        width: 300px;
        /* width: 150px; */
      }
      th {
        background-color: #0f1b0779;
        border: solid 1px;
      }
      img {
        width: 50px;
        height: 50px;
        /* object-fit: contain; */
        /* transform: translate(-20%); */
      }
      /* margin-bottom: 20px; */
    }
    #table2 {
      background-color: rgba(0, 0, 0, 0.05);
      border: solid 1px black;
      margin: 0 20% 0 20%;
      /* margin-left: 150px; */
      td {
        /* padding: 15px 0px 15px 10px; */
        padding: 10px;
        border: solid 1px;
        text-align: center;
        /* width: 150px; */
      }
      th {
        background-color: #0f1b0779;
        border: solid 1px;
      }
      img {
        width: 50px;
        height: 50px;
        /* object-fit: contain; */
        /* transform: translate(-20%); */
      }
      /* margin-bottom: 20px; */
    }
    #timkiemSP {
      height: 500px;
      width: 300px;
      position: absolute;
      left: 15%;
      top: 105%;
      padding: 10px 30px;
      input,
      select {
        margin: 10px 0;
        padding: 5px;
      }
      font-size: 20px;
      z-index: 0;
      /* display: none; */
    }

    #themSP {
      height: 500px;
      width: 300px;
      position: absolute;
      left: 15%;
      top: 150%;
      padding: 10px 30px;
      input,
      select {
        margin: 10px 0px;
        padding: 5px;
      }
      font-size: 20px;
      z-index: 0;
      /* background-color: rgb(179, 178, 178); */
    }

    #timkiemDH {
      height: 500px;
      width: 300px;
      position: absolute;
      left: 50%;
      top: 105%;
      transform: translate(-50%);
      padding: 10px 30px;
      input,
      select {
        margin: 10px 0;
        padding: 5px;
      }
      font-size: 20px;
      z-index: 0;
      /* display: none; */
    }
  }
}
